body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead tr {
    background-color: #007BFF;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    transform: scale(1.2);
}
input[type="number"].small-input {
    width: 30%;
}

.actions-cell {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}
.abort-button {
    background-color: #d85d6a;
}

.abort-button:hover {
    background-color: #a53e48;
}

.edit-button {
    background-color: #a7a7a7;
}

.edit-button:hover {
    background-color: #6f6f6f;
}

.add-button {
    background-color: #35dc38;
}

.add-button:hover {
    background-color: #2ec823;
}

.buttons,
.import-section {
    text-align: center;
}

.import-section {
    margin-top: 20px;
    text-align: center;
}

.hidden-file-input {
    display: none;
}

